@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-1: #e0e7ea;
    --color-2: #bfd1d9;
    --color-3: #a5c0c2;
    --color-4: #96a8ae;
    --color-5: #7c959d;
}

input[type=text] {
    border: none !important;
    outline: none !important;
}

input:focus {
    border: none !important;
    outline: none !important;
}

.formAmount {
    border:none;
    background-color: #F2F2F2;
    font-size: 19px;
    font-weight: 700;
    text-align: left;
    width: 100%;
    outline: none;
   
    margin: 0 !important
}



.tokenAndAmount {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}



.send-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 19px !important;
    

}

.formItem {
    background: #F2F2F2;
    padding: 1rem;
    margin-bottom: 1.2rem;
    border-radius: 0.5rem;
}



.send-form-container {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #FFFFFF;
   
    
   
    

    border-radius: 10px;
    color:  #1E1E1E;
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 20rem !important;
}

.sendText {
    color: #1E1E1E;
    font-size: 23px;
    text-align: center;
    font-weight: bold;
}



.custom-dropdown {
    width: 100%;  /* Full width */
    background-color: white;  /* White background */
    border: none !important;
    outline: none !important;
    color: black;  /* Black text */
    border-radius: 15px;
    font-weight: bold;
}

#dropdown-basic-button {
    width: 100%;  /* Full width */
    background-color: white;  /* White background */
    border: none !important;
    outline: none !important;
    color: black;  /* Black text */
    font-weight: bold;
    align-items: center;
    border-radius: 20px;
    
}

.dropdown-menu.show {
    width: 100%;  /* Make sure the dropdown menu also takes the full width */
}

#dropdown-basic-button::after {
    display: none !important; /* Hide the default dropdown arrow */
}

.dropdown-toggle::after {
    display: none !important; /* Ensure this works across dropdowns */
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 50px; /* Adjust height to fit the icon and text properly */
    padding: 10px 15px; /* Padding to give space around the icon */
    font-weight: bold !important;
}


.dropdown-item svg {
    margin-right: 10px; /* Space between the icon and the token name */
    width: 32px; /* Ensure the icon size is consistent */
    height: 32px; /* Ensure the icon size is consistent */
}


.send-button {
    width: 100%;
    background-color: black;
    border: 1px solid lightgray;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    
}

.send-button:hover {
    background-color: whitesmoke;
   border: 1px solid black;
    color: black;
   
}

.amount-input-group {
    display: flex;
    align-items: center;
}

.amount-input-group .custom-input {
    flex: 1;
}

.max-button {
    margin-left: 10px;
    background-color: black;
    border: 1px solid lightgray;
    color: whitesmoke;
}

.send-button {
    width: 100%;
    background-color: black;
    border: 1px solid lightgray;
    padding: 10px;
    color: whitesmoke;
    
}
