:root {
    --color-1: #e0e7ea;
    --color-2: #bfd1d9;
    --color-3: #a5c0c2;
    --color-4: #96a8ae;
    --color-5: #7c959d;
}

.send-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,4,12);
    

}

.send-image {
    width: 40%;
    opacity: 0.5;

}

.send-image-second {
    width: 40%;
    transform: rotateY(180deg);
    opacity: 0.5;
  
}



.send-form-container {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(0,4,12);
    background: linear-gradient(90deg, rgba(0,4,12,1) 0%, rgba(51,85,114,1) 100%);

    border-radius: 10px;
    color: whitesmoke;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.sendText {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.custom-input {
 
    border: 1px solid lightgray;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.custom-dropdown {
    width: 100%;  /* Full width */
    background-color: white;  /* White background */
    border: 1px solid lightgray;
    color: black;  /* Black text */
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
}

#dropdown-basic-button {
    width: 100%;  /* Full width */
    background-color: white;  /* White background */
    border: 1px solid lightgray;
    color: black;  /* Black text */
    font-weight: bold;
    align-items: center;
    
}

.dropdown-menu.show {
    width: 100%;  /* Make sure the dropdown menu also takes the full width */
}

#dropdown-basic-button::after {
    display: none !important; /* Hide the default dropdown arrow */
}

.dropdown-toggle::after {
    display: none !important; /* Ensure this works across dropdowns */
}

.dropdown-item {
    display: flex;
    align-items: center;
    height: 50px; /* Adjust height to fit the icon and text properly */
    padding: 10px 15px; /* Padding to give space around the icon */
    font-weight: bold !important;
}


.dropdown-item svg {
    margin-right: 10px; /* Space between the icon and the token name */
    width: 32px; /* Ensure the icon size is consistent */
    height: 32px; /* Ensure the icon size is consistent */
}


.send-button {
    width: 100%;
    background-color: black;
    border: 1px solid lightgray;
    padding: 10px;
    color: whitesmoke;
    font-weight: bold;
    
}

.send-button:hover {
    background-color: whitesmoke;
   border: 1px solid black;
    color: black;
   
}

.amount-input-group {
    display: flex;
    align-items: center;
}

.amount-input-group .custom-input {
    flex: 1;
}

.max-button {
    margin-left: 10px;
    background-color: black;
    border: 1px solid lightgray;
    color: whitesmoke;
}

.send-button {
    width: 100%;
    background-color: black;
    border: 1px solid lightgray;
    padding: 10px;
    color: whitesmoke;
    
}
