:root {
    --color-1: #e0e7ea;
    --color-2: #bfd1d9;
    --color-3: #a5c0c2;
    --color-4: #96a8ae;
    --color-5: #7c959d;
}

.send-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(0,4,12);
    

}

.send-image {
    width: 31%;
}

.send-image-second {
    width: 30%;
    transform: rotateY(180deg);
}



.send-form-container {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: rgb(0,4,12);
    background: linear-gradient(90deg, rgba(0,4,12,1) 0%, rgba(51,85,114,1) 100%);

    border-radius: 10px;
    color: whitesmoke;
    border: none;
    font-weight: bold;
    font-size: 12px;
}

.sendText {
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.custom-input {
 
    border: 1px solid lightgray;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

.custom-dropdown {
    width: 100%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
}

#dropdown-basic-button {
    background-color: black;
}

.amount-input-group {
    display: flex;
    align-items: center;
}

.amount-input-group .custom-input {
    flex: 1;
}

.max-button {
    margin-left: 10px;
    background-color: black;
    border: 1px solid lightgray;
    color: whitesmoke;
}

.send-button {
    width: 100%;
    background-color: black;
    border: 1px solid lightgray;
    padding: 10px;
    color: whitesmoke;
    
}
